<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Route details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="title" name="title" type="text" required maxlength=30 autocapitalize="true" clearInput>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="description" name="description" type="text" maxlength=100 autocapitalize="true">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Location</ion-label>
      <input ngx-google-places-autocomplete [(ngModel)]="location" name="location" />
    </ion-item>
    <ion-item>
      <ion-label>Activity type</ion-label>
      <ion-select [(ngModel)]="type" name="type" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Ski">Ski</ion-select-option>
        <ion-select-option value="Snowboard">Snowboard</ion-select-option>
        <ion-select-option value="Cycling">Cycling</ion-select-option>
        <ion-select-option value="Running">Running</ion-select-option>
        <ion-select-option value="Walking">Walking</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label class="difficulty">Difficulty</ion-label>
    <ion-item>
      <ion-segment [(ngModel)]="difficulty" name="difficulty" color="primary">
        <ion-segment-button value="Novice"> novice </ion-segment-button>
        <ion-segment-button value="Medium"> medium </ion-segment-button>
        <ion-segment-button value="Advanced"> advanced </ion-segment-button>
        <ion-segment-button value="Extreme"> extreme </ion-segment-button>
      </ion-segment>
    </ion-item>

    <div class="image-placeholder">
      <img src="../../../assets/details.svg" width="250" />
    </div>

    <ion-button class="save" expand="block" type="submit">Save</ion-button>
  </form>
</ion-content>