ion-item {
  margin: 10px 0;
}

.difficulty {
  font-size: x-small;
  margin: 17px;
}

.save {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  width: 93%;
}

.image-placeholder {
  margin: 30px 0;
  text-align: center;
}
