ion-content {
  --background: var(--ion-color-primary-tint);
  --color: white;
}

ion-button {
  height: 50px;
}

ion-text {
  margin: 0 20px;
}

ion-item {
  margin: 10px 20px 70px 20px;
  border-radius: 8px;
}

.form {
  margin: 20px;
}

.image {
  margin: 60px 0 60px;
  text-align: center;
}

.buttons {
  width: 95%;
  position: absolute;
  bottom: 0px;
  margin: 0 10px 30px 10px;
}
