ion-item {
  margin: 10px 0;
}

ion-button {
  height: 40px;
}

.image {
  margin-right: 10px;
}

.difficulty {
  font-size: medium;
  margin: 17px;
}

.image-placeholder {
  margin-top: 20%;
  text-align: center;
}

.profile-image {
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px gray;
  margin: 5px 10px;
}