ion-item {
  margin: 10px 0;
}

ion-button {
  height: 40px;
}

.image {
  margin-right: 10px;
}

.difficulty {
  font-size: medium;
  margin: 17px;
}

.image-placeholder {
  margin-top: 20%;
  text-align: center;
}
