ion-content {
  --background: url(../../../../assets/snow.jpg) 0 0/100% 100% no-repeat;
  --color: white;
}

ion-button {
  width: 250px;
  height: 50px;
  margin: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: white;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
    background: white;
  }
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
