<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-placeholder">
    <img src="../../../assets/welcome.svg" width="200" />
  </div>

  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
  </form>

  <ion-button type="submit" color="danger" (click)="authService.GoogleAuth()" expand="block">
    <ion-icon name="logo-google"></ion-icon>
    Google
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text>Don't have an account?</ion-text>
    <a [routerLink]="['/registration']">Register</a>
    <a [routerLink]=" ['/forgot-password']">Forgot Password?</a>
  </ion-toolbar>
</ion-footer>