ion-content {
  --background: var(--ion-color-primary-tint);
}

ion-button {
  height: 50px;
}

ion-text {
  margin: 0 20px;
}

ion-item {
  margin: 20px 20px 10px 20px;
  border-radius: 8px;
}

ion-toolbar {
  --background: var(--ion-color-primary-shade);
  color: var(--ion-color-dark-tint);
}

a {
  color: var(--warning);
}

.buttons {
  width: 95%;
  position: absolute;
  bottom: 0px;
  margin: 10px;
}

.password {
  float: right;
  margin: 0 30px;
}

.image {
  margin: 50px 0 50px;
  text-align: center;
}
