<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #email required></ion-input>

    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" #password required></ion-input>

    <ion-button type="submit" (click)="signUp(email, password)" expand="block">Register</ion-button>
  </form>

  Have an account?
  <a [routerLink]="['/login']">Log in </a>

</ion-content>