.login-header {
  background: var(--primary);
}

.logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  color: var(--light);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
    background: #cccccc;
  }
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
