ion-content ion-toolbar {
  --background: translucent;
}

ion-item-divider {
  margin-bottom: 15px;
}

ion-card-title {
  margin-bottom: 5px;
}

.image {
  height: 80px;
  width: 80px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px gray;
  margin: 5px 10px;
}

.slideone {
  width: 100%;
  height: 450px;
  padding-bottom: 10%;
}

.slidetwo {
  width: 100%;
  height: 450px;
  padding-top: 40px;
}

.image-placeholder {
  text-align: center;
}
