<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title>
      {{name}}
    </ion-title>
  </ion-toolbar>
  <ion-avatar class="image">
    <img src={{photoURL}}>
  </ion-avatar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let route of routes$ | async" [class.completed]="route.completed">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-card-title>{{route.datetimeStart.seconds * 1000 | date}}</ion-card-title>
          </ion-col>
          <ion-col>
            <ion-card-title>
              {{route.datetimeStart.seconds * 1000 | date:'HH:mm'}}
              -
              {{route.datetimeStop.seconds * 1000 | date:'HH:mm'}}
            </ion-card-title>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <div>Distance</div>
          </ion-col>
          <ion-col>
            <div>Duration</div>
          </ion-col>
          <ion-col>
            <div>Speed</div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>