<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <div #mapContainer id="map" class="map"></div>

  <ion-button expand="block" color="success" icon-left (click)="startTracking()" *ngIf="!isTracking">
    <ion-icon name="locate"></ion-icon>
    Start Tracking
  </ion-button>
  <ion-button expand="block" color="danger" icon-left (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand"></ion-icon>
    Stop Tracking
  </ion-button>
  
</ion-content>